<div class="edit note">
  <div class="caption">
    <button
        type="button"
        class="close"
        ng-click="noteCtrl.deleteNote()">
      &times;
    </button>
    <div>
      <input
          type="text"
          class="medium"
          ng-model="noteCtrl.note.title"
          ng-blur="noteCtrl.updateNote()"
          placeholder="Note Title">
    </div>
    <div>
      <textarea
          ng-model="noteCtrl.note.content"
          ng-blur="noteCtrl.updateNote()"
          placeholder="Note content">
      </textarea>
    </div>
    <span ng-show="noteCtrl.loading" class="glyphicon glyphicon-refresh"></span>
  </div>
</div>