<div class="board-header">

</div>
<div class="container">
  <a class="large" href="" ng-click="notesCtrl.goBack()">{{notesCtrl.board.title}}</a>
  <div class="row">
    <div class="board-content">
      <!-- NEW NOTE -->
      <div class="col-sm-4">
        <div class="create note">
          <div class="caption">
            <form
                name="notesCtrl.createForm"
                class="create-form"
                role="form"
                ng-submit="notesCtrl.createNote(notesCtrl.newNote, notesCtrl.createForm.$valid)"
                novalidate>
              <fieldset>
                <div>
                  <input
                      type="text"
                      class="medium"
                      ng-model="notesCtrl.newNote.title"
                      placeholder="Note Title"
                      required/>
                </div>
                <div>
                    <textarea
                        ng-model="notesCtrl.newNote.content"
                        placeholder="Note content"
                        required>
                    </textarea>
                </div>
                <button
                    type="submit"
                    class="bottom-right-corner-note btn btn-default">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <!-- EXISTING NOTES -->
      <div
          class="col-sm-4"
          ng-repeat="(id, note) in notesCtrl.notes"
          note="note"
          update="dotesCtrl.updateNote(noteId, note, isValid)"
          remove="notesCtrl.deleteNote(noteId)"
          fileChanged="notesCtrl.imageChanged(element, note)">
      </div>
    </div>
  </div>
</div>
