<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <!-- NEW BOARD -->
      <div class="create board">
        <div class="caption">
          <form
              name="boardsCtrl.createForm"
              class="create-form"
              role="form"
              ng-submit="boardsCtrl.createBoard(boardsCtrl.newBoard, boardsCtrl.createForm.$valid)"
              novalidate>
            <fieldset>
              <div>
                <input
                    type="text"
                    class="medium"
                    ng-model="boardsCtrl.newBoard.title"
                    placeholder="Board Title"
                    required>
              </div>
              <div>
                <input
                    type="text"
                    ng-model="boardsCtrl.newBoard.description"
                    placeholder="Board description"
                    required>
              </div>
              <div class="bottom x-small">
                <input
                    type="checkbox"
                    ng-model="boardsCtrl.newBoard.isPublic">
                Board is Public
              </div>
              <button
                  type="submit"
                  class="bottom-right-corner btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <!-- EXISTING BOARDS -->
    <div
        class="col-sm-4"
        ng-repeat="(id, board) in boardsCtrl.boards track by id"
        board="board"
        remove="boardsCtrl.deleteBoard(boardId)">
    </div>
  </div>
</div>