<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <!-- NEW BOARD -->
      <div class="create board">
        <div class="caption">
          <form
            name="boardsCtrl.createForm"
            class="create-form"
            role="form"
            ng-submit="boardsCtrl.createBoard(boardsCtrl.newBoard, boardsCtrl.createForm.$valid)"
            novalidate>
            <fieldset>
              <div>
                <input
                  type="text"
                  class="medium"
                  ng-model="boardsCtrl.newBoard.title"
                  placeholder="Board Name"
                  required>
              </div>
              <div>
                <input
                  type="text"
                  ng-model="boardsCtrl.newBoard.description"
                  placeholder="what's it about?"
                  required>
              </div>
              <br>

              <div class="bottom">
                <input
                  class="cmn-toggle cmn-toggle-round"
                  type="checkbox"
                  ng-model="boardsCtrl.newBoard.isPublic"
                  id="public">
                <label for="public"></label>
                <span>Public</span>
              </div>
            </fieldset>
            <button
              type="submit"
              class="btn btn-default btn-board">
              <span class="glyphicon glyphicon-plus"></span>
              <!--<img src="assets/images/icon-plus.svg">-->
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- EXISTING BOARDS -->
    <div
      class="col-sm-4"
      ng-repeat="(id, board) in boardsCtrl.boards track by id"
      board="board"
      update="boardsCtrl.updateBoard(boardId, board)"
      remove="boardsCtrl.deleteBoard(boardId)"
      member="boardsCtrl.updateMember(member, boardId)">
    </div>
  </div>
</div>