<div class="edit board">
  <fieldset>
    <div class="caption">
      <img class="board-menu-icon" src="assets/images/icon-three-dots.svg"
           ng-click="showMenu = !showMenu">
      </img>
      <div ng-show="showMenu" class="board-menu">

        <div class="board-menu-item"
             ng-click="showMenu = !showMenu; showCollaborators = !showCollaborators">
          Collaborators ({{boardCtrl.board.members.length}})
        </div>

        <div class="board-menu-item"
             ng-click="boardCtrl.deleteBoard()">
          Delete Board
        </div>

      </div>
      <div ng-click="showCollaborators = false">
        <div>
          <input
            type="text"
            class="medium"
            ng-model="boardCtrl.board.title"
            ng-blur="boardCtrl.updateBoard()"
            placeholder="Board Title">
        </div>
        <div>
          <input type="text"
                 ng-model="boardCtrl.board.description"
                 ng-blur="boardCtrl.updateBoard()"
                 placeholder="Board description.">
        </div>
      </div>
      <div>
        <span>{{boardCtrl.board.dueDate | date:'M/d/yyyy' }}</span><br>
      </div>
      <div class="bottom">
        <input
            class="cmn-toggle cmn-toggle-round"
            type="checkbox"
            ng-change="boardCtrl.updateBoard();"
            ng-model="boardCtrl.board.isPublic"
            id="{{boardCtrl.board.id}}">
        <label for="{{boardCtrl.board.id}}"></label>
        <span>Public</span>
      </div>
      <div ng-show="showCollaborators"
           isteven-multi-select
           input-model="boardCtrl.board.allMembers"
           output-model="boardCtrl.board.members"
           button-label="email"
           item-label="email"
           tick-property="isMember"
           output-properties="email id users_boards_id"
           max-labels="0"
           max-height="100px"
           on-item-click="boardCtrl.updateMember(data)"
           helper-elements="filter"
        >
      </div>

      <span ng-show="boardCtrl.loading" class="glyphicon glyphicon-refresh"></span>
    </div>
  </fieldset>
  <button
    type="button"
    ui-sref="notes({boardId: boardCtrl.board.id})"
    class="btn btn-default btn-board">
    <img src="assets/images/icon-arrow-right.svg">
  </button>
</div>